doctype html
html(lang='zh-CN')
  head
    meta(charset='UTF-8')
    title ASSA ABLOY Entrance Systems
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author', content='Rain Wu')
    meta(name='apple-mobile-web-app-capable', content='no')
    meta(name='format-detection', content='telephone=no')
    link(rel='stylesheet', type='text/css', href='css/swiper.min.css')
    link(rel='stylesheet', type='text/css', href='css/style-index.css')
    link(rel='stylesheet', type='text/css', href='css/animate.min.css')
    style.
      html, body {
          position: relative;
          height: 100%;
      }
      div {
        height: 100%;
      }
      .content .page-label {
        height: 14px;
      }
      .parallax-loading{
        background-color:#278ab9!important;
        background-image: url(../img/loanding.gif);
        background-position:center;
        background-repeat: no-repeat;
        background-size:30%;
      }
  body
    .wrapper.swiper-container
      .pages.vertical.default.swiper-wrapper
        if !user
          div.swiper-slide.page1.content.current.page(data-id="1")
            .bg
              header On the road to the future
              p CHINA TRUCK TOUR 2016
              a.icon-open.bounceIn(href='#2')
                | 开启未来 
            .cover-wrap
              p(class="logo")
              h4 邀请函
              p 2016 全国卡车巡展 
              p 北京站 中国国际建筑科技大会及展览
              hr
              p 2016.7.4-2016.7.6
          div.swiper-slide.page2.content.page.pad15(data-id="2")
            header 
            p
              | 亚萨合莱自动门系统来自亚萨合莱集团 
              br
              | 旗下拥有产品品牌:
              br
              span Besam | Crawford | Albany | Megadoor
            .image-wrap
              figure.img-1.ani(swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0s")
              figure.img-2.ani(swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.1s")
              figure.img-3.ani(swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s")
              figure.img-4.ani(swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s")
              figure.img-5.ani(swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.6s")
              figure.img-6.ani(swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.9s")
              figure.img-7.ani(swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s")
            p
              | 我们致力于满足您对通行口的各类需求
              br
              | 我们在中国9个城市设有办事处
              br
              | 安装及服务团队覆盖全国
            .banner-wrap
              img.ani(src='img/banner2.png', alt='banner', swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s")
            .page-label.ani(swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.8s") ASSA ABLOY Entrance Systems
          div.swiper-slide.page3.content.page.pad15(data-id="3")
            header
            p
              | 亚萨合莱自动门系统
              br
              | 一站式为您提供各类通行口解决方案
            .image-wrap
              figure.ani(swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0s")
                figcaption 人行自动门解决方案
                img(src='img/b1.png', alt='')
              figure.ani(swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s")
                figcaption 工业门解决方案
                img(src='img/b2.png', alt='')
              figure.ani(swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.6s")
                figcaption 高性能门解决方案
                img(src='img/b3.png', alt='')
              figure.ani(swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.9s")
                figcaption 装卸货系统解决方案
                img(src='img/b4.png', alt='')
              figure.ani(swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s")
                figcaption 超大门解决方案
                img(src='img/b5.png', alt='')
            .page-label.ani(swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.8s") Opening doors to bussiness and life
          div.swiper-slide.page4.content.page.pad15(data-id="4")
            header 
            .img-wrap
              img.ani(src='img/banner4-1.jpg', width='100%',swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0s")
              img.ani(src='img/banner4-2.jpg', width='100%',swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0s")
              p.ani(swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay=".5s")
                | 2016全国卡车巡游
                br
                | 全国多个城市
                br
                | 一站式展示旗下产品系列
            .page-label.ani(swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1s") 2016 China Truck Tour
          div.swiper-slide.page5.content.page.pad15(data-id="5")
            header.has-bg
            .map-wrap
              | 
              img.ani(src='img/map1.svg',alt='',swiper-animate-effect="fadeIn" swiper-animate-duration="0.5" swiper-animate-delay="0s")
              img.ani(src='img/map2.svg',alt='',swiper-animate-effect="fadeIn" swiper-animate-duration="0.5" swiper-animate-delay="0.6s")
              img.ani(src='img/map3.svg',alt='',swiper-animate-effect="fadeIn" swiper-animate-duration="0.5" swiper-animate-delay="1.2s")
              img.ani(src='img/map4.svg',alt='',swiper-animate-effect="fadeIn" swiper-animate-duration="0.5" swiper-animate-delay="1.8s")
              img.ani(src='img/map5.svg',alt='',swiper-animate-effect="fadeIn" swiper-animate-duration="0.5" swiper-animate-delay="2.4s")
              img.ani(src='img/map5-5.svg',alt='',swiper-animate-effect="fadeIn" swiper-animate-duration="0.5" swiper-animate-delay="3s")
              img.ani(src='img/map6.svg',alt='',swiper-animate-effect="fadeIn" swiper-animate-duration="0.5" swiper-animate-delay="3.6s")
              img.ani(src='img/map7.svg',alt='',swiper-animate-effect="fadeIn" swiper-animate-duration="0.5" swiper-animate-delay="4.2s")
              img.ani(src='img/map8.svg',alt='',swiper-animate-effect="fadeIn" swiper-animate-duration="0.5" swiper-animate-delay="4.8s")
              img.ani(class='act',src='img/map2.svg',alt='', swiper-animate-effect="fadeIn" swiper-animate-duration="0.5" swiper-animate-delay="5.4s")
              span.ani(swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5" swiper-animate-delay="5.7s")
                | 北京
                br
                | 2016.7.4-2016.7.6
              span.ani(swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5" swiper-animate-delay="6s")
                | 亚萨合莱自动门系统
                br
                | 诚邀你一同开启通行口自动化的未来
            .page-label 2016 China Truck Tour
          div.swiper-slide.page5.content.page.pad15(data-id="6")
            header.has-bg 
            h4.sologon
              | 请填写以下信息开启未来之旅
            .form-wrap
              form(action='')
                .input-group(data-animation="slideToRight" data-delay="0" data-timing-function="ease-out")
                  label(for='') 姓名＊
                  input(type='text', name="username")
                .input-group(data-animation="slideToRight" data-delay="100" data-timing-function="ease-out")
                  label(for='') 电话＊
                  input(type='text', name="mobile")
                .input-group(data-animation="slideToRight" data-delay="200" data-timing-function="ease-out")
                  label(for='') 邮箱
                  input(type='text', name="email")
                .input-group(data-animation="slideToRight" data-delay="300" data-timing-function="ease-out")
                  label(for='') 公司
                  input(type='text', name="company")
                .input-group(data-animation="slideToRight" data-delay="400" data-timing-function="ease-out")
                  label(for='') 职位
                  input(type='text', name="duty")
                button(type='submit') 提交
                p 打*项为必填项
        else  
          div.swiper-slide.page6.content.page.pad15(data-id="7")
            header
              | 
              br
              br
              img(src='img/icon-qr.png', alt='qr', width='30%')
              div
                | 恭喜您已成功开启未来之旅
                br
                | 请凭此页面至现场领取精美礼品
            .tks-wrap(data-animation="fadeIn")
              div
                | 感谢您的支持! 
                br
                | 赶快关注亚萨合莱自动门系统
                br
                | 可现场领取精美礼品
            footer
              | 2016卡车巡展 北京站
              p 我们与您相约A101展台
    script(src="js/FrozenUI_files/zepto.min.js")
    script(src="js/swiper-3.3.1.jquery.min.js")
    script(src="js/swiper.animate1.0.2.min.js")
    //- script(src="js/parallax.js")
    //- script(src="js/FrozenUI_files/effect.parallax.js")
    script.
      !function ($) { 
        var mySwiper = new Swiper ('.swiper-container', {
          direction: 'vertical',
          onSlideChangeEnd: function (swiper) {
            
            var index = swiper.activeIndex;
            var animateDom = $('[data-animation]');
            //- $('.swiper-slide-active');
            animShow(animateDom);
          },
          onInit: function(swiper){ //Swiper2.x的初始化是onFirstInit
            swiperAnimateCache(swiper); //隐藏动画元素 
            swiperAnimate(swiper); //初始化完成开始动画
          }, 
          onSlideChangeEnd: function(swiper){ 
            swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
            if(swiper.activeIndex == 4){
              console.log('we');
              setTimeout(function(){
                  $('.act').addClass('scaleImg');
                },5400);
            } 
          } 
        });
        mySwiper.lockSwipes();
        $('.icon-open.bounceIn').on('click', function (e) {
          mySwiper.unlockSwipes();
          mySwiper.slideNext();
        });
        function animShow($animateDom) {
          $animateDom.css({
            '-webkit-animation': 'none',
            'display': 'none' // 解决部分 Android 机型 DOM 不自动重绘的 bug
          });
          $('.swiper-slide-active [data-animation]').each(function(index, element){
            var $element    = $(element),
            $animation  = $element.attr('data-animation'),
            $duration   = $element.attr('data-duration') || 500,
            $timfunc    = $element.attr('data-timing-function') || 'ease',
            $delay      = $element.attr('data-delay') ?  $element.attr('data-delay') : 0;
            if ($animation === 'followSlide') {
              if (options.direction === 'horizontal' && direction === 'forward') {
                $animation = 'followSlideToLeft';
              }
              else if (options.direction === 'horizontal' && direction === 'backward') {
                $animation = 'followSlideToRight';
              }
              else if (options.direction === 'vertical' && direction === 'forward') {
                $animation = 'followSlideToTop';
              }
              else if (options.direction === 'vertical' && direction === 'backward') {
                $animation = 'followSlideToBottom';
              }
            }
            $element.css({
              'display': 'block',
              '-webkit-animation-name': $animation,
              '-webkit-animation-duration': $duration + 'ms',
              '-webkit-animation-timing-function': 'ease',
              '-webkit-animation-timing-function': $timfunc,
              '-webkit-animation-delay': $delay + 'ms',
              '-webkit-animation-fill-mode': 'both'
            })
          });
        }

        $('button[type=submit]').on('click', function (e) {
          var $inputs = $('form input');
          var i = 0; len = $inputs.length;
          var newUser = {};
          for (; i < len; i++) {
            if ($($inputs[i]).val() === '') {
              alert('请填写所有表单内容');
              return false;
            }  
            newUser[$($inputs[i]).attr('name')] = $($inputs[i]).val();
          }

          //- $.post('/user/!{openId}', newUser, function (res) {
          $.post('/user', newUser, function (res) {
            if (res) {
              alert('报名成功!');
              location.href = '/?d=1';
            }
          })
          e.preventDefault();
          return false;
        });
      } (Zepto);
      
