doctype html
html(lang='zh-CN')
  head
    meta(charset='UTF-8')
    title ASSA ABLOY Entrance Systems
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='keywords', content='')
    meta(name='description', content='')
    meta(name='author', content='Rain Wu')
    meta(name='apple-mobile-web-app-capable', content='no')
    meta(name='format-detection', content='telephone=no')
    link(rel='stylesheet', type='text/css', href='css/style-index.css')
    link(rel='stylesheet', type='text/css', href='js/FrozenUI_files/parallax.css')
    link(rel='stylesheet', type='text/css', href='js/FrozenUI_files/parallax-animation.css')
    style.
      .mask{
        position: absolute;
        z-index: 9999;
        width:100%;
        height:100vh;
        background-color: #278AB9;  
      }
      .icon-loading{
        background-image: url(../img/loanding.gif);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 70%;
        min-height: 100px;
        margin: 70% auto 0;
      }
  body
    //- .mask
    //-   .icon-loading
    .wrapper
      .pages.vertical.default
        if !user
          section.page1.content.current.page(data-id="1")
            .bg
              header On the road to the future
              p CHINA TRUCK TOUR 2016
              .icon-open.bounceIn
                a(href='#2')
                  | 开启未来 
            .cover-wrap
              p ASSA ABLOY Entrance Systems
              h4 邀请函
              p 2016 全国卡车巡展
              hr
              p 广东 潮汕 2016/6/24
          section.page2.content.page.pad15(data-id="2")
            header ASSA ABLOY Entrance Systems
            p
              | 亚萨合莱自动门系统 & 
              br
              | 亚萨合莱集团旗下独立事业部 
              br
              | 旗下拥有；
              br
              span Besam | Crawford | Albany | Megadoor
            .image-wrap
              figure.img-1(data-animation="fadeIn" data-delay="0")
              figure.img-2(data-animation="fadeIn" data-delay="200")
              figure.img-3(data-animation="fadeIn" data-delay="400")
              figure.img-4(data-animation="fadeIn" data-delay="600")
              figure.img-5(data-animation="fadeIn" data-delay="800")
              figure.img-6(data-animation="fadeIn" data-delay="1000")
              figure.img-7(data-animation="fadeIn" data-delay="1200")
            p
              | 我们致力于满足您对通行口的各类需求
              br
              | 我们在中国9个城市设有办事处
              br
              | 安装及服务团队覆盖全国
            .banner-wrap
              img(src='img/banner2.png', alt='banner', data-animation="fadeInToRight" data-delay="1300")
            .page-label(data-animation="slideToRight" data-delay="300" data-timing-function="cubic-bezier(.12,.73,.62,1.38)") ASSA ABLOY Entrance Systems
          section.page3.content.page.pad15(data-id="3")
            header ASSA ABLOY Entrance Systems
            p
              | 亚萨合莱自动门系统
              br
              | 一站式为您提供各类通行口解决方案
            .image-wrap
              figure(data-animation="slideToRight" data-delay="0" data-timing-function="ease-out")
                figcaption 人行自动门解决方案
                img(src='img/b1.png', alt='')
              figure(data-animation="slideToRight" data-delay="100" data-timing-function="ease-out")
                figcaption 工业门解决方案
                img(src='img/b2.png', alt='')
              figure(data-animation="slideToRight" data-delay="200" data-timing-function="ease-out")
                figcaption 装卸货系统解决方案
                img(src='img/b3.png', alt='')
              figure(data-animation="slideToRight" data-delay="300" data-timing-function="ease-out")
                figcaption 装卸货系统解决方案
                img(src='img/b4.png', alt='')
              figure(data-animation="slideToRight" data-delay="400" data-timing-function="ease-out")
                figcaption 超大门解决方案
                img(src='img/b5.png', alt='')
            .page-label(data-animation="slideToRight" data-delay="300" data-timing-function="cubic-bezier(.12,.73,.62,1.38)") Opening doors to bussiness and life
          section.page4.content.page.pad15(data-id="4")
            header ASSA ABLOY Entrance Systems
            .img-wrap
              img(src='img/banner4-1.jpg', width='100%',data-animation="slideToLeft" data-delay="100" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              img(src='img/banner4-2.jpg', width='100%',data-animation="slideToRight" data-delay="400" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
            p
              | 2016全国卡车巡游
              br
              | 全方位展示旗下产品系列
              br
              | 赶快加入我们至现场零距离体验更多精彩活动
            .page-label(data-animation="slideToRight" data-delay="300" data-timing-function="cubic-bezier(.12,.73,.62,1.38)") 2016 China Truck Tour
          section.page5.content.page.pad15(data-id="5")
            header.has-bg ASSA ABLOY Entrance Systems
            .map-wrap
              | 
              img(src='img/map1.svg',alt='',data-animation="fadeIn" data-delay="0" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              img(src='img/map2.svg',alt='',data-animation="fadeIn" data-delay="600" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              img(src='img/map3.svg',alt='',data-animation="fadeIn" data-delay="1200" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              img(src='img/map4.svg',alt='',data-animation="fadeIn" data-delay="1800" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              img(src='img/map5.svg',alt='',data-animation="fadeIn" data-delay="2400" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              img(src='img/map5-5.svg',alt='',data-animation="fadeIn" data-delay="3000" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              img(src='img/map6.svg',alt='',data-animation="fadeIn" data-delay="3600" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              img(src='img/map7.svg',alt='',data-animation="fadeIn" data-delay="4200" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              img(src='img/map8.svg',alt='',data-animation="fadeIn" data-delay="4800" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              img(class='act',src='img/map1.svg',alt='', data-animation="fadeIn" data-delay="5400" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
              span(data-animation="slideToTop" data-delay="5500" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
                | 广东 潮汕
                br
                | 2016/6/24
              span(data-animation="slideToLeft" data-delay="5600" data-timing-function="cubic-bezier(.12,.73,.62,1.38)")
                | 亚萨合莱自动门系统
                br
                | 诚邀你一同开启通行口自动化的未来
            .page-label 2016 China Truck Tour
          section.page5.content.page.pad15(data-id="6")
            header.has-bg ASSA ABLOY Entrance Systems
            h4.sologon
              | 请填写以下信息完成预登记
              br
              | 提交后现场领取精美礼品!
            .form-wrap
              form(action='')
                .input-group(data-animation="slideToRight" data-delay="0" data-timing-function="ease-out")
                  label(for='') 姓名
                  input(type='text', name="username")
                .input-group(data-animation="slideToRight" data-delay="100" data-timing-function="ease-out")
                  label(for='') 联系电话
                  input(type='text', name="mobile")
                .input-group(data-animation="slideToRight" data-delay="200" data-timing-function="ease-out")
                  label(for='') 邮箱
                  input(type='text', name="email")
                .input-group(data-animation="slideToRight" data-delay="300" data-timing-function="ease-out")
                  label(for='') 公司
                  input(type='text', name="company")
                .input-group(data-animation="slideToRight" data-delay="400" data-timing-function="ease-out")
                  label(for='') 职位
                  input(type='text', name="duty")
                button(type='submit') 提交
        else  
          section.page6.content.page.pad15(data-id="7")
            header
              | ASSA ABLOY Entrance Systems
              br
              br
              img(src='img/icon-qr.png', alt='qr', width='30%')
              div
                | 恭喜您！
                br
                | 已预登记成功
                br
                | 凭此页面现场
                br
                | 领取精美礼品
            .tks-wrap(data-animation="fadeIn")
              div
                | 感谢您的支持! 
                br
                | 赶快关注亚萨合莱自动门系统
                br
                | 可现场领取精美礼品
            footer
              | On the road to the future
              p CHINA TRUCK TOUR 2016
    script(src="js/FrozenUI_files/zepto.min.js")
    script(src="js/parallax.js")
    //- script(src="js/FrozenUI_files/effect.parallax.js")
    script.
      !function ($) { 
        $('.pages').parallax({
          arrow: true,
          loading: true,
          onchange: function(index, element, direction) {
            if(index==4){
              setTimeout(function(){
                $('.act').addClass('scaleImg');
              },5400);
              
            } else{
              $('.act').removeClass('scaleImg');
            }
        }
        });
        $('button[type=submit]').on('click', function (e) {
          var $inputs = $('form input');
          var i = 0; len = $inputs.length;
          var newUser = {};
          for (; i < len; i++) {
            if ($($inputs[i]).val() === '') {
              alert('请填写所有表单内容');
              return false;
            }  
            newUser[$($inputs[i]).attr('name')] = $($inputs[i]).val();
          }

          $.post('/user/!{openId}', newUser, function (res) {
            if (res) {
              alert('报名成功!');
              location.href = location.href;
            }
          })
          e.preventDefault();
          return false;
        });
      } (Zepto);
      
